body{
    background-color: black;
    font-size: 18;
    font-family: Karla, sans-serif
}

#header{
    color: white;
    width: 1500px;
    margin: 10px auto;
    padding: 10px;
}

#header #title{
    font-size: 52;
    margin: auto;
    width: max-content;
}

#dashboard{
    width: 1500px;
    margin: auto;
    margin-bottom: 10px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 350px;
}

#dashboard #legend{
    margin: auto;
    width: max-content;
}

#dash_controls{
    margin: auto;
    width: max-content;
}

.tooltip {
    display: none;
    background-color: 424242;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    padding: 8px 20px;
    margin: auto;
    width: max-content;
    border: grey solid 2px;
    font-size: 16;
}

#tooltip-info{
    text-align: left;
    width: 300px;
    color: white;
}

#project_info{
    display: inline;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: black;
}

#info-icon{
    height: 40px;
}

a{
    color: aqua;
}
a:visited {
    color: aqua;
}

label{
    margin-left: 38px;
}